[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim
[submodule "pyenv-installer"]
	path = pyenv-installer
	url = https://github.com/pyenv/pyenv-installer
[submodule "n"]
	path = n
	url = https://github.com/tj/n
[submodule "work"]
	path = work
	url = git@github.com:emicba/.dotfiles-work.git
