[alias]
lola = !git --no-pager log --color=always --graph --pretty='format:%C(auto)%h %d %s %C(green)%an%C(bold blue) %ad' --all --date=relative | less -R
gh = !gh

[commit]
verbose = true
gpgsign = true

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[init]
defaultbranch = main

[pull]
ff = only

[push]
autoSetupRemote = true
default = current

[user]
name = Emiliano Córdoba
email = 31087818+emicba@users.noreply.github.com
signingkey = 2AC9D66FA09D12BC

[core]
pager = delta

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true
line-numbers = true

[merge]
colorMoved = default
