[Desktop Entry]
Name=Firefox Browser Developer Edition
Icon=/opt/firefox-dev/browser/chrome/icons/default/default128.png
Comment=Browse the World Wide Web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=/opt/firefox-dev/firefox %u
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;WebBrowser;
